[Unit]
Description=Automatically connect to available bluettooth devices from config
After=bluetooth.service

[Service]
WorkingDirectory=/home/riveria/elm327/raspberry/ble-serial/helper/
Environment=PATH=/home/riveria/elm327/raspberry/ble-serial/ble-venv/bin/:/usr/bin
ExecStartPre=/home/riveria/elm327/raspberry/BTMGMT.SH
ExecStart=/home/riveria/elm327/raspberry/ble-serial/ble-venv/bin/python ble-autoconnect.py
#ExecStartPost=/home/riveria/elm327/raspberry/BTS.SH
Restart=always
RestartSec=30s

[Install]
WantedBy=bluetooth.target
