[Unit]
Description=Automatically connect to available bluettooth devices from config

[Service]
Environment=PATH=/home/riveria/elm327/raspberry/ble-serial/ble-venv/bin/:/usr/bin
WorkingDirectory=/home/riveria/elm327/raspberry/ble-serial/helper/
ExecStart=/home/riveria/elm327/raspberry/ble-serial/ble-venv/bin/python ble-autoconnect.py

[Install]
WantedBy=default.target
